*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  user-select: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background: #111;
  text-shadow: 1px 1px 2px black;
}

h1,
h3 {
  font-weight: 400;
}

.main {
  min-height: 100vh;
  background: url('./assets/imgs/day/cloudy.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;

  /* Change to 0 once the whole app is finished */
  opacity: 1;
}

/* Add background overlay */
.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  overflow: hidden;
}

.left-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;

  display: flex;
  padding: 4rem;
}

.weather {
  display: flex;
  align-items: center;
  gap: 12px;
}

.temp {
  font-size: 10rem;
  line-height: 8rem;
}

.condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.condition img {
  width: 50px;
  height: 50px;
}

.weather img {
  display: block;
}

.name {
  margin-top: 2rem;
}

.info p {
  font-size: 1.4rem;
  margin-top: 0.2rem;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  background: rgba(0, 0, 0, 0.3);
}

.search-input {
  position: relative;
}

#location-input {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

#location-input input {
  width: 80%;
  font-family: inherit;
  height: 50px;
  outline: none;
  background-color: transparent;
  border: none;
  color: #fafafa;
  border-bottom: 1px solid #fafafa;
}

#location-input button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fafafa;
  border: none;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#location-input button:hover,
#location-input button:active {
  background-color: #dbdbdb;
}

.sidebar h3 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 3rem;
}

.details,
.forecast {
  padding: 0 3rem;
}

.details ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: none;
}

.details ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.left i {
  font-size: 2rem;
  min-width: 20px;
  text-align: center;
}

.left > span {
  font-size: 1.4rem;
}

.right {
  font-size: 1.4rem;
  font-weight: 700;
}

.sunrise-sunset {
  display: flex;
  justify-content: center;
}

.sunrise,
.sunset {
  text-align: center;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.weekday {
  display: flex;
  justify-content: space-between;
}

.temp-day-night {
  min-width: 75px;
  text-align: end;
}

/************************************/
/* BELOW 1200px (Landscape Tablets) */
/************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/************************************/
/* BELOW 940px (Tablets)            */
/************************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

/************************************/
/* BELOW 704px (Smaller Tablets)    */
/************************************/

@media (max-width: 44em) {
  /* .main {
    overflow: hidden;
  }

  .bottom-panel {
    display: flex;
    overflow-x: scroll;
  }

  .weekday {
    min-width: 200px;
  } */
}

/************************************/
/* BELOW 544px (Phones)             */
/************************************/

@media (max-width: 34em) {
  /* .upper-panel {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .info > div {
    justify-content: center;
  }

  .search-input {
    margin-top: 4rem;
  }

  .name,
  .info p {
    text-align: center;
  }

  .details {
    margin-top: 2rem;
  } */
}
