*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  user-select: none;
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background: #111;
  text-shadow: 1px 1px 2px black;
}

.main {
  display: flex;
  height: 100%;
  background: url('./assets/imgs/day/cloudy.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafafa;
  opacity: 0;
}

/* Add background overlay */
.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  overflow: hidden;
}

h1,
h3 {
  font-weight: 400;
}

.left-panel {
  flex-basis: 60%;
  display: flex;
  padding: 5rem;
  z-index: 1;
}

.weather {
  display: flex;
  align-items: center;
  gap: 12px;
}

.temp {
  font-size: 10rem;
  line-height: 8rem;
}

.condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.condition img {
  width: 50px;
  height: 50px;
}

.weather img {
  display: block;
}

.name {
  margin-top: 2rem;
}

.info p {
  font-size: 1.4rem;
  margin-top: 0.2rem;
}

.sidebar {
  flex-basis: 40%;
  padding: 5rem;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.219);

  /* FIXME: Fix bug with overlay when hovering different tabs */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(0, 0, 0, 0.048);
  overflow-y: auto;
  z-index: 1;
}

.settings {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 4rem;
}

.search-input {
  width: 100%;
}

#location-input {
  display: flex;
  align-items: center;
}

#location-input input {
  width: 100%;
  font-family: inherit;
  height: 34px;
  padding: 1rem;
  outline: none;
  background-color: transparent;
  border: none;
  color: #fafafa;
  border-bottom: 1px solid #fafafa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: 0.4s ease-in-out;
}

#location-input input::placeholder {
  color: #94a3b8;
}

#location-input input:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

#location-input button {
  background-color: #fafafa;
  border: none;
  height: 34px;
  width: 34px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#location-input button:hover,
#location-input button:active {
  background-color: #cbd5e1;
}

.sidebar h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 3rem 0;
}

.details ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: none;
}

.details ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.left i {
  font-size: 2rem;
  min-width: 20px;
  text-align: center;
}

.left > span {
  font-size: 1.4rem;
}

.right {
  font-size: 1.4rem;
  font-weight: 700;
}

.sunrise-sunset {
  display: flex;
  justify-content: center;
}

.sunrise,
.sunset {
  text-align: center;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.weekday {
  display: flex;
  justify-content: space-between;
}

.temp-day-night {
  min-width: 75px;
  text-align: end;
}

/* Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 36px;
  left: 4px;
  bottom: 4px;
  background-color: #94a3b8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  display: inline-block;
  border-radius: 3px;
}

.slider.round:before {
  border-radius: 3px;
}
.switch div {
  display: flex;
  top: 9px;
  left: 16px;
  gap: 30px;
  color: black;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-shadow: none;
}

hr {
  margin: 3rem 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/************************************/
/* BELOW 1200px (Landscape Tablets) */
/************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/************************************/
/* BELOW 940px (Tablets)            */
/************************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

/************************************/
/* BELOW 704px (Smaller Tablets)    */
/************************************/

@media (max-width: 44em) {
  .main {
    flex-direction: column;
  }

  .left-panel {
    flex-basis: 25%;
  }

  .sidebar {
    flex-basis: 75%;
  }

  .settings {
    margin-bottom: 3rem;
  }

  .sidebar h3 {
    margin: 2rem 0;
  }

  .details ul {
    gap: 12px;
  }
}

/************************************/
/* BELOW 544px (Phones)             */
/************************************/

@media (max-width: 34em) {
  .name {
    font-size: 2.4rem;
  }
}
